* {
    margin: 0;
    padding: 0;
    cursor:pointer;
}

.container {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
}

.Heading {
    /* position:absolute; */
    top:0;
    width:100%;
    height: 15vh;
    background: #9adb40;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
}
.Heading::before{
    content: '';
    position: absolute;
    top:0px;
    left:600px;
    width:300px;
    height:inherit;
    transform:skew(-10deg,0deg);
    background-color:rgb(251, 223, 9);
    z-index:5;
    animation: barLive 15s infinite ease-in-out;
}
.Heading::after{
    content: '';
    position: absolute;
    top:0px;
    right:0;
    width:40%;
    height:inherit;
    transform:skew(-10deg,0deg);
    background-color:rgb(255, 0, 0);
    z-index:6;
    /* animation: barLive 15s infinite ease-in-out; */
}
@keyframes barLive {
    0%{
        left:600px;
    }
    50%{
        left:850px;
    }
    100%{
        left:600px;
    }
    
}
.InputPlace{
    position:fixed;
    /* top: 80vh; */
    bottom: 0;
    width: 100%;
    height:15vh; 
    background: #ffffff;
    z-index: 4;
    
}

.InputPlace form {
    width: 80%;
    padding: 10px;
    border-radius: 30px 30px 30px 30px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-evenly;
    /* background-color: antiquewhite; */

}

.InputPlace form input {
    font-size: 30px;
    width: 85%;
    padding: inherit;
    border: 1px solid;
    border-radius: 30px 0px 0px 30px;
    background: #98e7ec;
}
.InputPlace form input::-webkit-input-placeholder {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(94, 89, 89)
}

.InputPlace form button {
    font-size: 30px;
    width: 15%;
    padding: 5px;
    border: 1px solid;
    border-radius: 0px 30px 30px 0px;
}

.InputPlace form button:active {
    background: #9adb40;
}

.Heading h2 {
    font-size: 4rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.Heading h4 {
    font-size: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left:10px;

}

.list_body {
    /* background: #635ec5; */
    margin: 0px auto 0px auto;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid;
    border-left: 1px solid;

}

.card {
    width:90%;
    margin: 10px;
    background-color: rgb(240, 235, 214);
    border-radius: 10px;
    border:brown 1px solid;
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(18, 17, 17);
}
.card span{
    cursor: pointer;
}



